{% extends 'base.html' %}

{% block content %}
<div class="container m-4">
<form method="POST">

    {{form.hidden_tag()}}
  
 
      <p>
         <b>{{ form.first_name.label }}</b>
          {{ form.first_name }}
          <b>{{ form.last_name.label }}</b>
          {{ form.last_name }}
      </p>
  
        <b>{{ form.photo.label }}</b>
        {{ form.photo }}
      </p>
      <p>
        <b>{{ form.month.label }}</b>
        {{ form.month }}
        {{ form.day }}
        {{ form.year }}
      </p>


  
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}