{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
<form method="POST">

    {{form.hidden_tag()}}
  
 
      <p>
          {{ form.first_name.label }}
          {{ form.first_name }}
          {{ form.last_name.label }}
          {{ form.last_name }}
      </p>
  
        {{ form.photo.label }}
        {{ form.photo }}
      </p>
      <p>
        {{ form.month.label }}
        {{ form.month }}
        {{ form.day }}
        {{ form.year }}
      </p>


  
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}