{% extends 'base.html' %}

{% block content %}

<form method="POST">
    <!-- {{ form.csrf_token }} -->
    {{form.hidden_tag()}}
  
    <!-- {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %} -->
      <p>
          {{ form.first_name.label }}
          {{ form.first_name }}
          {{ form.last_name.label }}
          {{ form.last_name }}
      </p>
      <p>
        {{ form.email.label }}
        {{ form.email }}
      </p>
      <p>
        {{ form.ethnicity.label }}
        {{ form.ethnicity }}
      </p>
      <p>
        {{ form.gender.label }}
        {{ form.gender }}
      </p>
      <p>
        {{ form.month.label }}
        {{ form.month }}
        {{ form.day }}
        {{ form.year }}
      </p>


  
    <button type="submit">Submit</button>
  </form>

{% endblock %}