{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Chart Id</th>
                <th>Last Name </th>
                <th>First Name </th>
                <th>Date Of Birth </th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td><a href="/patients/{{patient.id}}">{{patient.id}}</a></td>
                    <td>{{patient.last_name}}</td>
                    <td>{{patient.first_name}}</td>
                    <td>{{patient.date_of_birth}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}