{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-bordered" style="width: 100%">
        <thead >
            <tr>
                <th class="id">Chart Id</th>
                <th class="last_name">Last Name </th>
                <th class="first_name">First Name </th>
                <th class="date_of_birth">Date Of Birth </th>
            </tr>
        </thead>
        <tbody class="patient-table">
            {% for patient in patients %}
                <tr>
                    <td><a href="/patients/{{patient.id}}">{{patient.id}}</a></td>
                    <td>{{patient.last_name}}</td>
                    <td>{{patient.first_name}}</td>
                    <td>{{patient.date_of_birth}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="/static/ui-patient-list.js"></script>

{% endblock %}