{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Last Name </th>
                <th>First Name </th>
                <th>Office Phone </th>
                <th>Office Phone </th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td><a href="/patients/{{patient.id}}">{{patient.id}}</a></td>
                    <td>{{doctor.last_name}}</td>
                    <td>{{doctor.first_name}}</td>
                    <td>{{doctor.office_phone}}</td>
                    <td>{{doctor.cell_phone}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>


{% endblock %}