#profile-avatar {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  }
.patient_medication_profile {
  width: 80px;
  height: 80px;
}
#page {
  /* display: grid; */
  padding:0;
  /* grid-template-columns: 30vw; */
  /* width:100%; */
} 

#sidebar {
  padding:0;
  height: 800px;
  /* position: fixed; */
  overflow: auto;
  /* width: 400px; */
}
.main {
  /* grid-column-start: 2; */
  height:800px;
  overflow:auto;
}
.nav-link {
  color:pink;
}