body {
  background: #87a9ff;
}
table {
  background: white;
}
#profile-avatar {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  }
.patient_medication_profile {
  width: 80px;
  height: 80px;
}
#page {
  padding:0;
} 

#sidebar {
  padding:0;
  height: 100vh;
  overflow: auto;
}
.main {
  height:100vh;
  overflow:auto;
}
.nav-link {
  color:pink;
}
.messages p {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0,0,0, .2);
}
.messages .success {
  background-color:  rgba(0, 255, 0, 0.1);
}
.messages .error {
  background-color:  rgba(255, 0, 0, 0.1);
}

th {
  background-color: #6EA9FF;;
}