{% extends 'base.html' %}

{% block content %}
<section class="messages">
    {% for category,msg in get_flashed_messages(with_categories=true) %}
        <p class="{{category}}">{{ msg }}</p>
    {% endfor %}
</section>
    <div class="row">
    <div class="col-3" id="sidebar" >
        {% for patient in patients %}
        <div class="card patient"  id="{{patient.id}}">
            <div class="card-body" >
                <div class="media position-relative" >
                    <img src="{{patient.patient_photo}}" class="mr-3 patient_medication_profile" alt="...">
                    <div class="media-body" >
                    <a href="" class="stretched-link" >
                        <h5 class="mt-0">{{patient.first_name}} {{patient.last_name}}</h5>
                        </a>
                        <p>
                            {{patient.date_of_birth.year}}-{{patient.date_of_birth.month}}-{{patient.date_of_birth.day}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
        <div class="col-9" id="page">
        <div class="main medication-emr">

        </div> 

        
    </div>
  
    
   
   
{% endblock %} 
